build
build.txt
version.txt
home.txt
*.pbxuser
*.mode1v3
*.tm_build_errors
*.wdgtuser
*.perspectivev3
*.pyc
*.xcworkspace
*.ipa
*.xls
*.swp
*.gcno
*.gcda
xcuserdata
.DS_Store
KKBOX/Distribution/openUp
KKBOX/Widget/KKBOX.dcproj/project.wdgt/KKBOXPlugin.widgetplugin
KKBOXClientVersion.h

Default-Landscape.png
Default-Landscape@2x.png
Default-Portrait.png
Default-Portrait@2x.png
Default_iOS7-Portrait.png
Default_iOS7-Portrait@2x.png
Default_iOS7-Landscape.png
Default_iOS7-Landscape@2x.png
Default.png
Default@2x.png
Default-568h@2x.png
Default_iPhone6.png
Default_iPhone6Plus.png
iPhone/InfoPlist.h
KKBOX/InfoPlist.h
tmp
Documents/appledoc/
.idea

iPhone/KKBOX/LaunchImages.xcassets/version.imageset/version.png
iPhone/KKBOX/LaunchImages.xcassets/version.imageset/version@2x.png
iPhone/ExternalLibraries/dca-sdk/DCAProtobuf/libDCAProtobuf.a

__MACOSX

*.orig
